<section>
  <h2>Welcome to our RideShare app!</h2>
</section>

<section>
  <button><%= link_to "Manage Drivers", drivers_path %></button>
  <button><%= link_to "Manage Passengers", passengers_path %></button>
</section>
