<header>
  <h2>Welcome to our RideShare app!</h2>
</header>

<footer>
  <button><%= link_to "Manage Drivers", drivers_path %></button>
  <button><%= link_to "Manage Passengers", passengers_path %></button>
</footer>
