<h2>Existing passengers</h2>
<%= will_paginate @passengers %>
<table>
  <tr>
    <th>Passenger Name</th>
    <th>Phone Number</th>
  </tr>

  <% @passengers.each do |passenger| %>
    <% if passenger.name != "Unknown Passenger" %>
      <tr>
        <td><%= link_to passenger.name, passenger_path(passenger.id) %></td>
        <td><%= passenger.phone_num %></td>
      </tr>
    <% end %>
  <% end %>
</table>
