<h2>Driver Page</h2>
<%= will_paginate @drivers %>
<table>
  <tr>
    <th>Driver Name</th>
    <th>VIN Number</th>
  </tr>

  <% @drivers.each do |driver| %>
    <% if driver.name != "Unknown Driver" %>
      <tr>
        <td><%= link_to driver.name, driver_path(driver.id) %></td>
        <td>VIN <%= driver.vin %></td>
      </tr>
    <% end %>
  <% end %>
</table>
