<h2>Driver Page</h2>

<ul>
<% @drivers.each do |driver| %>
  <% if driver.name != "Unknown Driver" %>
    <li>
      <%= link_to driver.name, driver_path(driver.id) %>
      VIN <%= driver.vin %>
    </li>
  <% end %>
<% end %>
</ul>
